<table>

  <tr>
    <td>title</td>
    <td>body</td>
    <td>user</td>
  </tr>

<% @documents.each do |document| %>

  <tr>
    <td><%= document.title %></td>
    <td><%= document.body %></td>
    <td><%= document.user %></td>
  </tr>

  <%end%>
  
</table>
