// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
.title h1{
position: relative;
vertical-align: center;
text-align: center;
text-color: #6B8E23;
margin-left: auto;
margin-right: auto;
}
*/